<div class="container p-2"> 
    <div class="row">
        <CalculatorNumberButtonGrid OnButtonClick=@SelectNumber/>

        <div class="col-4">
            <CalculatorCommandButton OnButtonClick=@ClearCommand Value="C" />
            <CalculatorCommandButton OnButtonClick=@MultiplyCommand Value="X" />
            <CalculatorCommandButton OnButtonClick=@MinusCommand Value="-" />
            <CalculatorCommandButton OnButtonClick=@PlusCommand Value="+" />
            <CalculatorCommandButton OnButtonClick=@EqualsCommand Value="=" />
        </div>
    </div>
</div>

@code {
    private int displayValue;

    [Parameter]
    public int DisplayValue
    {
        get => displayValue;
        set
        {
            if (displayValue == value ) return;
            displayValue = value;
            DisplayValueChanged.InvokeAsync(value);
        }
    }

    [Parameter]
    public EventCallback<int> DisplayValueChanged { get; set; }

    private int storedValue = 0;
    private bool equalsWasTheLastCommand = false;

    private void SelectNumber(int number)
    {
        if(equalsWasTheLastCommand || DisplayValue.Equals(0)){
            DisplayValue = number;
            equalsWasTheLastCommand = false;
            return;
        }

        DisplayValue = int.Parse($"{DisplayValue}{number}");
    }

    private void PlusCommand()
    {
        if (equalsWasTheLastCommand)
        {
            storedValue = 0;
        }

        storedValue += DisplayValue;
        DisplayValue = 0;
    }

    private void EqualsCommand()
    {
        if (equalsWasTheLastCommand)
        {
            DisplayValue += storedValue;
            return;
        }

        var lastAddedValue = DisplayValue;
        DisplayValue += storedValue;
        storedValue = lastAddedValue;
        equalsWasTheLastCommand = true;
    }

    private void MinusCommand()
    {
        throw new NotImplementedException();
    }

    private void MultiplyCommand()
    {
        throw new NotImplementedException();
    }

    private void ClearCommand()
    {
        throw new NotImplementedException();
    }
}