@page "/calculator"
@inject HttpClient Http

<h1>Calculator</h1>

<CalculatorDisplay DisplayValue=@DisplayValue/>

<CalculatorButtonGrid @bind-DisplayValue="DisplayValue"/>

@code {
    public int DisplayValue { get; set; }
}