<div class="container p-2"> 
    <div class="row">
        <CalculatorNumberButtonGrid OnButtonClick=@SelectNumber/>
        
        <CalculatorCommandButtonGrid OnButtonClick=@SelectCommand/>
    </div>
</div>

@code {
    private int displayValue;

    [Parameter]
    public int DisplayValue
    {
        get => displayValue;
        set
        {
            if (displayValue == value ) return;
            displayValue = value;
            DisplayValueChanged.InvokeAsync(value);
        }
    }

    [Parameter]
    public EventCallback<int> DisplayValueChanged { get; set; }

    private int storedValue = 0;
    private bool equalsWasTheLastCommand = false;
    private string lastOperation = string.Empty;

    private void SelectNumber(int number)
    {
        if(equalsWasTheLastCommand || DisplayValue.Equals(0)){
            DisplayValue = number;
            equalsWasTheLastCommand = false;
            return;
        }

        DisplayValue = int.Parse($"{DisplayValue}{number}");
    }

    private void SelectCommand(string command)
    {
        switch (command)
        {
            case "=":
                EqualsCommand();
                break;
            case "+":
                PlusCommand();
                break;
            case "-":
                MinusCommand();
                break;
            case "X":
                MultiplyCommand();
                break;
            case "C":
                ClearCommand();
                break;
        }
    }

    private void PlusCommand()
    {
        lastOperation = "+";
        if (equalsWasTheLastCommand)
        {
            storedValue = 0;
        }

        storedValue += DisplayValue;
        DisplayValue = 0;
    }

    private void EqualsCommand()
    {
        var lastAddedValue = DisplayValue;

        if (lastOperation == "+")
        {
            DisplayValue += storedValue;
        } 

        if (equalsWasTheLastCommand)
        {
            if (lastOperation == "-")
            {
                DisplayValue = DisplayValue - storedValue;
            }
            return;
        }

        if (lastOperation == "-")
        {
            DisplayValue = storedValue - DisplayValue;
        }

        storedValue = lastAddedValue;
        equalsWasTheLastCommand = true;
    }

    private void MinusCommand()
    {
        lastOperation = "-";
        if (equalsWasTheLastCommand)
        {
            storedValue = 0;
        }

        if(storedValue == 0)
        {
            storedValue = DisplayValue;
            DisplayValue = 0;
            return;
        }

        storedValue = storedValue - DisplayValue; 
        DisplayValue = 0;
    }

    private void MultiplyCommand()
    {
        lastOperation = "-";
        if (equalsWasTheLastCommand)
        {
            storedValue = 0;
        }

        storedValue += DisplayValue;
        DisplayValue = 0;
    }

    private void ClearCommand()
    {
        equalsWasTheLastCommand = false;
        DisplayValue = 0;
        storedValue = 0;
    }
}