<div class="col-4">
    <button type="button" class="btn btn-outline-secondary mb-1" @onclick="@(()=>SelectNumber())">@Value</button>
</div>


@code {
    [Parameter]
    public int Value { get; set; }

    [Parameter]
    public EventCallback<int> OnButtonClick { get; set; }

    private async Task SelectNumber()
    {
        await OnButtonClick.InvokeAsync(Value);
    }
}
