<button type="button" class="btn btn-outline-dark btn-sm col-4" @onclick="@(()=>SelectCommand())">@Value</button>

@code {
    [Parameter]
    public string? Value { get; set; }

    [Parameter]
    public EventCallback<string> OnButtonClick { get; set; }

    private async Task SelectCommand()
    {
        await OnButtonClick.InvokeAsync(Value);
    }
}
