<div class="container"> 
    <div class="row">
        <button class="col-sm-4" id="clear">C</button>
        <CalculatorNumberButton OnButtonClick=@SelectNumber Value=0/>
        <button class="col-sm-4" id="equals" @onclick="EqualsCommand">=</button>
    </div>
    <div class="row">
        <CalculatorNumberButton OnButtonClick=@SelectNumber Value=1/>
        <CalculatorNumberButton OnButtonClick=@SelectNumber Value=2/>
        <CalculatorNumberButton OnButtonClick=@SelectNumber Value=3/>
    </div>
    <div class="row">
        <CalculatorNumberButton OnButtonClick=@SelectNumber Value=4/>
        <CalculatorNumberButton OnButtonClick=@SelectNumber Value=5/>
        <CalculatorNumberButton OnButtonClick=@SelectNumber Value=6/>
    </div>
    <div class="row">
        <CalculatorNumberButton OnButtonClick=@SelectNumber Value=7/>
        <CalculatorNumberButton OnButtonClick=@SelectNumber Value=8/>
        <CalculatorNumberButton OnButtonClick=@SelectNumber Value=9/>
    </div>
    <div class="row">
        <button class="col-sm-4" id="plus" @onclick="PlusCommand">+</button>
        <button class="col-sm-4" id="minus">-</button>
        <button class="col-sm-4" id="multiply">X</button>
    </div>
</div>

@code {
    private int displayValue;

    [Parameter]
    public int DisplayValue
    {
        get => displayValue;
        set
        {
            if (displayValue == value ) return;
            displayValue = value;
            DisplayValueChanged.InvokeAsync(value);
        }
    }

    [Parameter]
    public EventCallback<int> DisplayValueChanged { get; set; }

    private int storedValue = 0;
    private bool equalsWasTheLastCommand = false;

    private void SelectNumber(int number)
    {
        if(equalsWasTheLastCommand || DisplayValue.Equals(0)){
            DisplayValue = number;
            equalsWasTheLastCommand = false;
            return;
        }

        DisplayValue = int.Parse($"{DisplayValue}{number}");
    }

    private void PlusCommand()
    {
        if (equalsWasTheLastCommand)
        {
            storedValue = 0;
        }

        storedValue += DisplayValue;
        DisplayValue = 0;
    }

    private void EqualsCommand()
    {
        if (equalsWasTheLastCommand)
        {
            DisplayValue += storedValue;
            return;
        }
     
        var lastAddedValue = DisplayValue;
        DisplayValue += storedValue;
        storedValue = lastAddedValue;
        equalsWasTheLastCommand = true;
    }
}