
@*<div>*@
    <div class="border border-dark">
        <CalculatorDisplay DisplayValue=@DisplayValue />

        <CalculatorButtonGrid @bind-DisplayValue="DisplayValue" />
    </div>
@*</div>*@


@code {
    public int DisplayValue { get; set; }
}
