@page "/calculator"
@inject HttpClient Http

<h1>Calculator</h1>

<p id="displayValue">@displayValue</p>

<button id="one" @onclick="SelectOne">1</button>
<button id="two" @onclick="SelectTwo">2</button>
<button id="three">3</button>
<button id="plus">+</button>
<button id="equals">=</button>


@code {
    private string displayValue = "0";

    private void SelectOne()
    {
        if(displayValue.Equals("0")){
            displayValue = "1";
            return;
        }

        displayValue += "1";
    }

    private void SelectTwo()
    {
        displayValue = "2";
    }
}