
        <div class="col-4">
            <CalculatorCommandButton OnButtonClick=@SelectCommand Value="C" />
            <CalculatorCommandButton OnButtonClick=@SelectCommand Value="X" />
            <CalculatorCommandButton OnButtonClick=@SelectCommand Value="-" />
            <CalculatorCommandButton OnButtonClick=@SelectCommand Value="+" />
            <CalculatorCommandButton OnButtonClick=@SelectCommand Value="=" />
        </div>

@code {
    [Parameter]
    public EventCallback<string> OnButtonClick { get; set; }

    private async Task SelectCommand(string command)
    {
        await OnButtonClick.InvokeAsync(command);
    }
}
