@using BlazorWebSandbox.Pages
@attribute [TestClass]
@inherits BunitTestContext

@code {
    IRenderedFragment UnderTest;

    [TestInitialize]
    public void Initialize()
    {
		UnderTest = Render(@<Calculator />);
	}

    [TestMethod]
	public void Show_calculator_header()
	{
		UnderTest.Find("h1").MarkupMatches(@<h1>Calculator</h1>);
	}

    [TestMethod]
	public void Show_0_in_display()
	{
		UnderTest.Find("p#displayValue").MarkupMatches(@<p id="displayValue">0</p>);
	}

    [TestMethod]
	[DataRow("one", "1")]
	[DataRow("two", "2")]
	[DataRow("three", "3")]
	[DataRow("four", "4")]
	[DataRow("five", "5")]
	[DataRow("six", "6")]
	public void Show_a_button_for_expected_number(string elementId, string expected)
	{
		var buttonValue = UnderTest.Find($"button#{elementId}").InnerHtml;

		Assert.AreEqual(expected, buttonValue);
	}

	[DataRow("plus", "+")]
	[DataRow("equals", "=")]
	public void Show_a_button_for_expected_command(string elementId, string expected)
	{
		var buttonValue = UnderTest.Find($"button#{elementId}").InnerHtml;

		Assert.AreEqual(expected, buttonValue);
	}

	[TestMethod]
	[DataRow("one", "1")]
	[DataRow("two", "2")]
	[DataRow("three", "3")]
	[DataRow("four", "4")]
	[DataRow("five", "5")]
	[DataRow("six", "6")]
	public void Set_display_to_expected(string elementId, string expected)
	{
		UnderTest.Find($"button#{elementId}").Click();

		var displayValue = UnderTest.Find("p#displayValue").InnerHtml;

		Assert.AreEqual(expected, displayValue);
	}

	[TestMethod]
	public void Set_display_to_11()
	{
		UnderTest.Find("button#one").Click();
		UnderTest.Find("button#one").Click();

		UnderTest.Find("p#displayValue").MarkupMatches(@<p id="displayValue">11</p>);
	}

	[TestMethod]
	public void Reset_display_value_after_clicking_plus()
	{
		UnderTest.Find($"button#one").Click();

		UnderTest.Find($"button#plus").Click();

		UnderTest.Find("p#displayValue").MarkupMatches(@<p id="displayValue">0</p>);
	}

	[TestMethod]
	public void Display_the_same_value_after_clicking_equals()
	{
		UnderTest.Find($"button#one").Click();

		UnderTest.Find($"button#equals").Click();
		
		var displayValue = UnderTest.Find("p#displayValue").InnerHtml;
		Assert.AreEqual("1", displayValue);
	}
	

	[TestMethod]
	public void Display_the_result_of_one_plus_one()
	{
		UnderTest.Find($"button#one").Click();
		UnderTest.Find($"button#plus").Click();
		UnderTest.Find($"button#one").Click();
		UnderTest.Find($"button#equals").Click();
		
		var displayValue = UnderTest.Find("p#displayValue").InnerHtml;
		Assert.AreEqual("2", displayValue);
	}
}
