@using AngleSharp.Dom
@using BlazorWebSandbox.Pages
@attribute [TestClass]
@attribute [Ignore]
@inherits BunitTestContext

@code {
	IRenderedFragment UnderTest = null!;

	[TestInitialize]
	public void Initialize()
	{
		UnderTest = Render(@<Calculator />);
	}

	private IElement GetButton(string elementId){
		return UnderTest.Find($"button#{elementId}");
	}

	private string GetDisplayValue(){
		return UnderTest.Find("p#displayValue").InnerHtml;
	}

    [TestMethod]
	public void Show_calculator_header()
	{
		UnderTest.Find("h1").MarkupMatches(@<h1>Calculator</h1>);
	}

	[TestMethod]
	public void Show_0_in_display()
	{
		Assert.AreEqual("0", GetDisplayValue());
	}

	[TestMethod]
	[DataRow("one", "1")]
	[DataRow("two", "2")]
	[DataRow("three", "3")]
	[DataRow("four", "4")]
	[DataRow("five", "5")]
	[DataRow("six", "6")]
	[DataRow("seven", "7")]
	[DataRow("eight", "8")]
	[DataRow("nine", "9")]
	[DataRow("zero", "0")]
	public void Show_a_button_for_expected_number(string elementId, string expected)
	{
		var buttonValue = GetButton(elementId).InnerHtml;

		Assert.AreEqual(expected, buttonValue);
	}

	[TestMethod]
	[DataRow("plus", "+")]
	[DataRow("equals", "=")]
	[DataRow("minus", "-")]
	[DataRow("clear", "C")]
	[DataRow("multiply", "X")]
	public void Show_a_button_for_expected_command(string elementId, string expected)
	{
		var buttonValue = GetButton(elementId).InnerHtml;

		Assert.AreEqual(expected, buttonValue);
	}

	[TestMethod]
	[DataRow("one", "1")]
	[DataRow("two", "2")]
	[DataRow("three", "3")]
	[DataRow("four", "4")]
	[DataRow("five", "5")]
	[DataRow("six", "6")]
	[DataRow("seven", "7")]
	[DataRow("eight", "8")]
	[DataRow("nine", "9")]
	[DataRow("zero", "0")]
	public void Set_display_to_expected(string elementId, string expected)
	{
		GetButton(elementId).Click();

		Assert.AreEqual(expected, GetDisplayValue());
	}

	[TestMethod]
	public void Set_display_to_11()
	{
		var oneButton = GetButton("one");

		oneButton.Click();
		oneButton.Click();

		Assert.AreEqual("11", GetDisplayValue());
	}

	[TestMethod]
	public void Reset_display_value_after_clicking_plus()
	{
		var plusButton = GetButton("plus");
		var oneButton = GetButton("one");
		
		oneButton.Click();
		plusButton.Click();

		Assert.AreEqual("0", GetDisplayValue());
	}

	[TestMethod]
	public void Display_the_same_value_after_clicking_equals()
	{
		var equalsButton = GetButton("equals");
		var oneButton = GetButton("one");
		
		oneButton.Click();
		equalsButton.Click();

		Assert.AreEqual("1", GetDisplayValue());
	}

	[TestMethod]
	public void Display_the_result_of_one_plus_one()
	{
		var plusButton = GetButton("plus");
		var equalsButton = GetButton("equals");
		var oneButton = GetButton("one");

		oneButton.Click();
		plusButton.Click();
		oneButton.Click();
		equalsButton.Click();

		Assert.AreEqual("2", GetDisplayValue());
	}

	[TestMethod]
	public void Display_the_result_of_one_plus_two_plus_three()
	{
		var plusButton = GetButton("plus");
		var equalsButton = GetButton("equals");
		var oneButton = GetButton("one");
		var twoButton = GetButton("two");
		var threeButton = GetButton("three");
		
		oneButton.Click();
		plusButton.Click();
		twoButton.Click();
		plusButton.Click();
		threeButton.Click();
		equalsButton.Click();

		Assert.AreEqual("6", GetDisplayValue());
	}


	[TestMethod]
	public void Display_one_when_one_is_clicked_after_the_equals_command()
	{
		var plusButton = GetButton("plus");
		var equalsButton = GetButton("equals");
		var oneButton = GetButton("one");
		var twoButton = GetButton("two");

		oneButton.Click();
		plusButton.Click();
		twoButton.Click();
		equalsButton.Click();
		oneButton.Click();

		Assert.AreEqual("1", GetDisplayValue());
	}

	[TestMethod]
	public void Continue_plus_equation_when_plus_is_clicked_following_equals_command()
	{
		var plusButton = GetButton("plus");
		var equalsButton = GetButton("equals");
		var oneButton = GetButton("one");
		var twoButton = GetButton("two");
		var threeButton = GetButton("three");

		oneButton.Click();
		plusButton.Click();
		twoButton.Click();
		equalsButton.Click();

		plusButton.Click();
		threeButton.Click();
		equalsButton.Click();

		Assert.AreEqual("6", GetDisplayValue());
	}

	[TestMethod]
	public void Perform_last_operation_when_equals_is_pressed_twice()
	{
		var oneButton = GetButton("one");
		var twoButton = GetButton("two");
		var plusButton = GetButton("plus");
		var equalsButton = GetButton("equals");

		oneButton.Click();
		plusButton.Click();
		twoButton.Click();
		equalsButton.Click();
		equalsButton.Click();
		
		Assert.AreEqual("5", GetDisplayValue());
	}

	
}
