@using BlazorWebSandbox.Pages
@attribute [TestClass]
@inherits BunitTestContext

@code {
    [TestMethod]
	public void Show_calculator_header()
	{
		var underTest = Render(@<Calculator/>);

		underTest.Find("h1").MarkupMatches(@<h1>Calculator</h1>);
	}

    [TestMethod]
	public void Show_0_in_display()
	{
		var cut = Render(@<Calculator/>);

		cut.Find("p#displayValue").MarkupMatches(@<p id="displayValue">0</p>);
	}

    [TestMethod]
	public void Show_a_button_for_number_1()
	{
		var cut = Render(@<Calculator/>);

		var buttonValue = cut.Find("button#one").InnerHtml;

		Assert.AreEqual("1", buttonValue);
	}

    [TestMethod]
	public void Show_a_button_for_number_2()
	{
		var cut = Render(@<Calculator/>);

		var buttonValue = cut.Find("button#two").InnerHtml;

		Assert.AreEqual("2", buttonValue);
	}

    [TestMethod]
	public void Show_a_button_for_plus_symbol()
	{
		var cut = Render(@<Calculator/>);
		cut.Find("button#plus").MarkupMatches(@<button id="plus">+</button>);
	}

    [TestMethod]
	public void Show_a_button_for_equals_symbol()
	{
		var cut = Render(@<Calculator/>);
		cut.Find("button#equals").MarkupMatches(@<button id="equals">=</button>);
	}

    [TestMethod]
	public void Set_display_to_1()
	{
		var cut = Render(@<Calculator/>);

		cut.Find("button#one").Click();

		cut.Find("p#displayValue").MarkupMatches(@<p id="displayValue">1</p>);
	}

    [TestMethod]
	public void Set_display_to_11()
	{
		var cut = Render(@<Calculator/>);

		cut.Find("button#one").Click();
		cut.Find("button#one").Click();

		cut.Find("p#displayValue").MarkupMatches(@<p id="displayValue">11</p>);
	}
}
