@using AngleSharp.Dom
@using BlazorWebSandbox.Pages
@attribute [TestClass]
@inherits BunitTestContext

@code {
    IRenderedFragment UnderTest;

    [TestInitialize]
    public void Initialize()
    {
		UnderTest = Render(@<Calculator />
	);
	}

	private IElement GetButton(string elementId){
		return UnderTest.Find($"button#{elementId}");
	}

    [TestMethod]
	public void Show_calculator_header()
	{
		UnderTest.Find("h1").MarkupMatches(@<h1>Calculator</h1>);
	}

    [TestMethod]
	public void Show_0_in_display()
	{
		UnderTest.Find("p#displayValue").MarkupMatches(@<p id="displayValue">0</p>);
	}

    [TestMethod]
	[DataRow("one", "1")]
	[DataRow("two", "2")]
	[DataRow("three", "3")]
	[DataRow("four", "4")]
	[DataRow("five", "5")]
	[DataRow("six", "6")]
	[DataRow("seven", "7")]
	[DataRow("eight", "8")]
	[DataRow("nine", "9")]
	[DataRow("zero", "0")]
	public void Show_a_button_for_expected_number(string elementId, string expected)
	{
		var buttonValue = GetButton(elementId).InnerHtml;

		Assert.AreEqual(expected, buttonValue);
	}
	
    [TestMethod]
	[DataRow("plus", "+")]
	[DataRow("equals", "=")]
	[DataRow("minus", "-")]
	[DataRow("clear", "C")]
	public void Show_a_button_for_expected_command(string elementId, string expected)
	{
		var buttonValue = GetButton(elementId).InnerHtml;

		Assert.AreEqual(expected, buttonValue);
	}

	[TestMethod]
	[DataRow("one", "1")]
	[DataRow("two", "2")]
	[DataRow("three", "3")]
	[DataRow("four", "4")]
	[DataRow("five", "5")]
	[DataRow("six", "6")]
	[DataRow("seven", "7")]
	[DataRow("eight", "8")]
	[DataRow("nine", "9")]
	[DataRow("zero", "0")]
	public void Set_display_to_expected(string elementId, string expected)
	{
		GetButton(elementId).Click();

		var displayValue = UnderTest.Find("p#displayValue").InnerHtml;

		Assert.AreEqual(expected, displayValue);
	}

	[TestMethod]
	public void Set_display_to_11()
	{
		var buttonOne = GetButton("one");
		buttonOne.Click();
		buttonOne.Click();

		UnderTest.Find("p#displayValue").MarkupMatches(@<p id="displayValue">11</p>);
	}

	[TestMethod]
	public void Reset_display_value_after_clicking_plus()
	{
		GetButton("one").Click();

		GetButton("plus").Click();

		UnderTest.Find("p#displayValue").MarkupMatches(@<p id="displayValue">0</p>
	);
	}

	[TestMethod]
	public void Display_the_same_value_after_clicking_equals()
	{
		GetButton("one").Click();

		GetButton("equals").Click();

		var displayValue = UnderTest.Find("p#displayValue").InnerHtml;
		Assert.AreEqual("1", displayValue);
	}

	[TestMethod]
	public void Display_the_result_of_one_plus_one()
	{
		var buttonOne = GetButton("one");

		buttonOne.Click();
		GetButton("plus").Click();
		buttonOne.Click();
		GetButton("equals").Click();

		var displayValue = UnderTest.Find("p#displayValue").InnerHtml;
		Assert.AreEqual("2", displayValue);
	}

	[TestMethod]
	public void Display_the_result_of_one_plus_two_plus_three()
	{
		var plusButton = GetButton("plus");

		GetButton("one").Click();
		plusButton.Click();
		GetButton("two").Click();
		plusButton.Click();
		GetButton("three").Click();
		GetButton("equals").Click();
		
		var displayValue = UnderTest.Find("p#displayValue").InnerHtml;
		Assert.AreEqual("6", displayValue);
	}

	[TestMethod]
	public void Display_one_when_one_is_clicked_after_the_equals_command()
	{
		var buttonOne = GetButton("one");
		
		buttonOne.Click();
		GetButton("plus").Click();
		GetButton("two").Click();
		GetButton("equals").Click();
		buttonOne.Click();
		
		var displayValue = UnderTest.Find("p#displayValue").InnerHtml;
		Assert.AreEqual("1", displayValue);
	}

	[TestMethod]
	public void Continue_plus_equation_when_plus_is_clicked_following_equals_command()
	{
		var plusButton = GetButton("plus");
		var equalsButton = GetButton("equals");
		
		GetButton("one").Click();
		plusButton.Click();
		GetButton("two").Click();
		equalsButton.Click();
		
		plusButton.Click();
		GetButton("three").Click();
		equalsButton.Click();
		
		var displayValue = UnderTest.Find("p#displayValue").InnerHtml;
		Assert.AreEqual("6", displayValue);
	}
}
